@model KYHBPA.Models.Post

<div class="col-md-6" style="border-style: dashed">
    <table>
        <tr>
            <td rowspan="4">Image Here</td>
            <td style="font-weight: bold">@Model.Title</td>
        </tr>
        <tr>
            <td>@Model.ShortDescription</td>
        </tr>
        <tr>
            <td>@Model.Posted</td>
        </tr>
        <tr>
            <td>@Model.PostType</td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.ActionLink(">>Read the Full Post", "Post", new { id = Model.Id }, new { @class = "btn btn-default col-md-offset-3" })
            </td>
        </tr>
    </table>
</div>