<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="~/">
        Admin Portal
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Roster", "Index", "Member")</li>
        <li>@Html.ActionLink("File Manager", "Index", "Document")</li>
        <li>@Html.ActionLink("Upload File", "DocumentManagement", "Home")</li>
        <li>@Html.ActionLink("Vistor Contacts", "Index", "Contact")</li>
        <li>@Html.ActionLink("Poll Manager", "Index", "Poll")</li>
        <li>@Html.ActionLink("Minutes Manager", "Index", "Minutes")</li>
        <li>@Html.ActionLink("Events Manager", "Index", "Event")</li>
        <li>@Html.ActionLink("Email Blast Manager", "Index", "EmailBlast")</li>
    </ul>
</li>
