<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="~/">
        Admin Portal
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Account Manager", "AccountManager", "Account")</li>
        <li>@Html.ActionLink("Blog Manager", "Index", "Blog")</li>
        <li>@Html.ActionLink("Calls To Action Manager", "Index", "CallToAction")</li>
        <li>@Html.ActionLink("Email Blast Manager", "Index", "EmailBlast")</li>
        <li>@Html.ActionLink("Events Manager", "Index", "Event")</li>
        <li>@Html.ActionLink("File Manager", "Index", "Document")</li>
        <li>@Html.ActionLink("Membership Manager", "Index", "Member")</li>
        <li>@Html.ActionLink("Minutes Manager", "Index", "Minutes")</li>
        <li>@Html.ActionLink("News Manager", "Index", "News")</li>
        <li>@Html.ActionLink("Poll Manager", "Index", "Poll")</li>
        <li>@Html.ActionLink("Upload File", "DocumentManagement", "Home")</li>
        <li>@Html.ActionLink("View Visitor Contacts", "Index", "Contact")</li>
    </ul>
</li>