<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand glyphicon glyphicon-home" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="~/">
                            Our Organization
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Who We Are", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Meet Our Staff", "BoardOfDirectors", "Home")</li>
                            <li>@Html.ActionLink("Board Meeting Minutes", "BoardMinutes", "Minutes")</li>
                            <li>@Html.ActionLink("Community Minutes", "CommunityMinutes", "Minutes")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="~/">
                            Community
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("News", "Index", "Home")</li>
                            <li>@Html.ActionLink("Newsletters", "NewsLetter", "Document")</li>
                            <li>@Html.ActionLink("Blog", "Index", "Home")</li>
                            <li>@Html.ActionLink("Events", "Index", "Event")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="~/">
                            Member
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Roster", "Index", "Member")</li>
                            <li>@Html.ActionLink("Benefits of Membership", "Benefits", "Member")</li>
                            <li>@Html.ActionLink("Benevolence", "Index", "Home")</li>
                            <li>@Html.ActionLink("Become a Member", "Create", "Member")</li>
                            <li>@Html.ActionLink("Member Card", "DownloadMemberCard", "Document")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="~/">
                            Admin Portal
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Documents", "Index", "Document")</li>
                            <li>@Html.ActionLink("Document Manager", "DocumentManagement", "Home")</li>
                            <li>@Html.ActionLink("Vistor Contacts", "Index", "Contact")</li>
                            <li>@Html.ActionLink("Poll Manager", "Index", "Poll")</li>
                            <li>@Html.ActionLink("Minutes Manager", "Index", "Minutes")</li>
                            <li>@Html.ActionLink("Events Manager", "Index", "Event")</li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle glyphicon glyphicon-user" data-toggle="dropdown" href="~/">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("My Profile", "Profile", "Member")</li>  
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="https://www.paypal.com/us/webapps/mpp/donations" target="_blank">
                            <img src="~/Images/donate-btn.png" alt="Donate through PayPal" height="24" width="101" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <!-- Add icon library -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <table style="border-style:none" width="100%">
                <tr>
                    <td>&copy; @DateTime.Now.Year - Kentucky Horsemen’s Benevolent and Protective Association, Inc.</td>
                    <td align="right" valign="middle">
                        <a href="https://www.facebook.com/KYhbpa/" class="fa fa-facebook" target="_blank"></a>
                        <a href="https://twitter.com/kyhbpa" class="fa fa-twitter" target="_blank"></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        Site design by Equus Solutions
                        <img src="~/Images/EquusSolutions-logo.png" height="20" width="58" alt="Equus Solutions Logo" />
                    </td>
                    <td>
                      | <a href="~/Images/Model1.png" target="_blank">Model 1</a> |
                        <a href="~/Images/Modle2.png" target="_blank">Model 2</a> |
                        <!--<a href="www.test.com">Model 3</a> |-->
                    </td>
            </table>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
