@using KYHBPA.Models
@model KYHBPA.Models.ViewModels.PollViewModel

@{
    ViewBag.Title = "PollForm";
}

<h2>PollForm</h2>

@*https://www.aspsnippets.com/Articles/Implement-Dynamic-TextBox-controls-with-Add-Remove-Button-in-ASPNet-MVC.aspx*@

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Poll</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Poll.Question, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Poll.Question, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Poll.Question, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Poll.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Poll.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Poll.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Poll.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Poll.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Poll.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>
        
        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Add Poll Option" class="btn btn-default"/>
            </div>
        </div>       
        
        @foreach (PollOption p in Model.PollOptions)
        {
            @Html.Partial("_PollOption", p)
        }*@


    </div>
}

@using (Html.BeginForm(new {id = "PollOption"}))
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Add Poll Option" class="btn btn-default" onclick="AddTextBox()"/>
            </div>
        </div>  
    </div>
    <div class ="form-horizontal" id="PollOptionContainer">        
        
    </div>
}
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    function GetDynamicPollOptions(value) {

        var maindiv = $("<div />");
        maindiv.attr("class", "form-group");
        maindiv.attr("name", "polloption");

        var line = $("<hr />");
        maindiv.append(line);

        var label = $("<label>Title</label>").attr("class", "control-label col-md-2");
        maindiv.append(label);

        var txtdiv = $("<div />");
        txtdiv.attr("class", "col-md-8");
 
        var textBox = $("<input />").attr("type", "textbox").attr("name", "PollTitle");
        textBox.attr("class", "form-control");
        textBox.val(value);
        txtdiv.append(textBox);

        var btndiv = $("<div />");
        btndiv.attr("class", "col-md-2");

        var button = $("<input />").attr("type", "button").attr("value", "Delete");
        button.attr("onclick", "RemovePollOption(this)");
        button.attr("class", "btn btn-default");
        btndiv.append(button);

        maindiv.append(txtdiv);
        maindiv.append(btndiv);
 
        return maindiv;
    }
    function AddTextBox() {
        var div = GetDynamicPollOptions("");
        $("#PollOptionContainer").append(div);
    }
 
    function RemovePollOption(div) {
        $(div).parent().parent().remove();
    }
 
    $(function () {
        var values = eval('@Html.Raw(ViewBag.Values)');
        if (values != null) {
            $("#PollOptionContainer").html("");
            $(values).each(function () {
                $("#PollOptionContainer").append(GetDynamicPollOptions(this));
            });
        }
    });
</script>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        $(function () {
            alert("@ViewBag.Message");
        });
    </script>
}
