@model KYHBPA.Models.News

<div>
    <hr />
    <center>
        <img src="@(string.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.Picture.FileBytes)))" style="height:55%; width:55%" />
    </center>
    <dl class="dl-horizontal">

        <dd>
            <center>
                <h3>@Html.DisplayFor(model => model.Headline)</h3>
            </center>
        </dd>

        <dd>
            <p>
                @Html.DisplayFor(model => model.Summary)
            </p>
        </dd>

        <dd>
            <p>
                See full article at: <a href="@Model.URL" target="_blank">@Html.DisplayFor(model => model.URL)</a>
            </p>
        </dd>

    </dl>
</div>