@*@model IEnumerable<KYHBPA.Models.CallToAction>*@
@model KYHBPA.Models.CallToAction

<div>
    <h4>CallToAction</h4>
    <hr />
    <img src="@(string.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.Image.FileBytes)))" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Headline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Headline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfAction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfAction)
        </dd>

    </dl>
</div>

</table>
